/.phpunit.cache
node_modules
public/build
public/hot
public/media
public/academy/*
public/images
/storage/*.key
vendor
.env
package.json
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
public/images/*
/.fleet
/.idea
/.vscode
